{% extends "finance/layout.html" %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center">Witamy na Forum Finansowym</h1>
    <form method="get" action="{% url 'search_subject' %}" class="search-form my-4 d-flex justify-content-center">
        <input type="text" name="q" class="form-control search-input" placeholder="Szukaj w temacie">
        <button type="submit" class="btn btn-primary search-button">Szukaj</button>
    </form>
    <form method="get" action="{% url 'search_content' %}" class="search-form mb-4 d-flex justify-content-center">
        <input type="text" name="q" class="form-control search-input" placeholder="Szukaj w treści">
        <button type="submit" class="btn btn-primary search-button">Szukaj</button>
    </form>

    {% if posts %}
        <div class="posts-list">
            {% for post in posts %}
                <div class="post p-4 mb-4 border rounded shadow-sm">
                    <h2><a href="{% url 'post_page' post.id %}" class="post-title">{{ post.temat }}</a></h2>
                    <p>Autor: <a href="{% url 'profile' post.user.username %}" class="post-author">{{ post.user.username }}</a></p>
                    <p>Kategoria: <span class="post-category"><a href="{% url 'category' post_category=post.category %}">{{ post.get_category_display }}</a></span></p>
                    <p><i class="fas fa-thumbs-up"></i> Polubienia: <span class="post-likes">{{ post.like_count }}</span></p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Brak dostępnych postów.</p>
    {% endif %}
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; pierwsza</a>
                <a href="?page={{ posts.previous_page_number }}">poprzednia</a>
            {% endif %}
    
            <span class="current">
                Strona {{ posts.number }} z {{ posts.paginator.num_pages }}.
            </span>
    
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">następna</a>
                <a href="?page={{ posts.paginator.num_pages }}">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}