{% extends "finance/layout.html" %}

{% block body %}
<div class="container mt-5">
    {% if user_exist == True %}
        <h2 class="text-center mb-4">Witamy na profilu użytkownika {{ username }}</h2>
        {% if user.username == username %}
            <div class="text-center mb-3">
                {% if profile_user.if_professional == False %}
                    <a href="{% url 'create_professional' %}" class="btn btn-primary">Ulepsz do Profesjonalisty</a>
                {% else %}
                    <a href="{% url 'professional_profile' username=username %}" class="btn btn-primary">Przejdź do swojej strony Profesjonalisty</a>
                {% endif %}
            </div>
        {% else %}
            {% if profile_user.if_professional == True %}
                <div class="text-center mb-3">
                    <a href="{% url 'professional_profile' username=username %}" class="btn btn-primary">Przejdź do strony Profesjonalisty</a>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        <h2 class="text-center">Ten użytkownik jeszcze nie istnieje</h2>
    {% endif %}
    <hr>
    <div class="posts-list">
        {% if posts %}
            {% for post in posts %}
                <div class="post p-4 mb-4 border rounded shadow-sm bg-light">
                    <h2><a href="{% url 'post_page' post.id %}" class="post-title">{{ post.temat }}</a></h2>
                    <p>Autor: <a href="{% url 'profile' post.user.username %}" class="post-author">{{ post.user.username }}</a></p>
                    <p>Kategoria: <span class="post-category"><a href="{% url 'category' post_category=post.category %}">{{ post.get_category_display }}</a></span></p>
                    <p>Polubienia: <span class="post-likes">{{ post.like_count }}</span></p>
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <p class="text-center">Ten użytkownik nie opublikował jeszcze żadnych postów</p>
        {% endif %}
    </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; pierwsza</a>
            <a href="?page={{ posts.previous_page_number }}">poprzednia</a>
        {% endif %}

        <span class="current">
            Strona {{ posts.number }} z {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">następna</a>
            <a href="?page={{ posts.paginator.num_pages }}">ostatnia &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}